
@media screen and(max-width:1440px){
    .homepage{
        .homepage-title{
            h1{
                margin-bottom: 28px;
            }
            p{
                margin-bottom: 36px; 
            }
        } 
    } 
}

@media screen and(max-width:1280px){
    .homepage{
        .homepage-title{
            h1{
                font-size: 50px;
                margin-bottom: 18px;
            }
            p{
                font-size: 18px;
                margin-bottom: 26px; 
            }
        } 
    } 
}


@media screen and(max-device-width:768px){
    header{
        padding: 15px;
        position: relative;
        .logo-section{
            h1{
                font-size: calc(1.375rem + 1.5vw);
            }
        }
        .langselect {
            float: left;
            select{
                margin:0px 15px 0px 0px
            }
        }
        .login-btn{
            float: left;
        }
        .mobile-menu-btn{
            border:1px solid #0d6efd;
            color:#0d6efd;
            border-radius: 3px;
        }
        .menu-bottom{
            margin:15px 0px;
        }
        .menu{
            display: none;
        }
        .mobile-menu{
            display: none;
            background-color: #efefef;
            position: absolute;
            width: 100%;
            right: 0;
            padding: 15px;
            ul{
                margin:0px;
                padding:0px;
                a{
                    width: 100%;
                    display: block;
                    color:#000;
                    margin:15px 0px;
                    text-decoration: none;
                }
            }
            &.open{
                display: block !important;
            }
        }
    }
    .homepage {
        margin:30px 0px;
        .col-6{
            width: 100% !important;
        }
    }

    footer{
        .menu{
            ul{
                margin:15px 0px;
                padding: 0px;;
                a{
                    display: block;
                }
            }
        } 
    } 
}
