@import 'style-variables';

*{
    font-family: 'Roboto';
}
.standart-btn{
  background: $standartBtnColor;
  border-radius: 68px;
  padding: 0px 20px;
  color:$lightGreyColor;
  border:0px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 1px;
  outline: 0px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  cursor:pointer;
  @include transitionMethod(0.2s);
  &:hover{
      background: $lightGreyColor;
      color:$standartBtnColor;
      @include transitionMethod(0.2s);
  }
}
.standart-reverse-btn{
  background: $lightGreyColor;
  border-radius: 68px;
  padding: 0px 20px;
  color:$blackColor;
  border:0px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 700;
  letter-spacing: 1px;
  outline: 0px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  cursor:pointer;
  @include transitionMethod(0.2s);
  &:hover{
      background: $blackColor;
      color:$lightGreyColor;
      @include transitionMethod(0.2s);
  }
}

.standart-close-icon{
  float: left;
  position: relative;
  height: 26px;
  width:26px;
  display: inline-block;
  margin-left: 20px;
  .first{
      height: 2px;
      background-color: $blackColor;
      width: 26px;
      @include rotateMethod(45deg);
      position: absolute;
      top:13px;
  }
  .second{
      height: 2px;
      background-color: $blackColor;
      width: 26px;
      @include rotateMethod(135deg);
      position: absolute;
      top:13px;
  }
}


.logo-section{
  h1{
      i{
          color:#0d6efd;
      }
      a{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 900;
          font-size: 29.6308px;
          color:$blackColor;
          text-decoration: none;
      }
  }
}

header{
  padding:56px 80px 56px 80px;
  position: absolute;
  width: 100%;
  top:0px;
  z-index: 12;
.menu{
  
  ul{
      padding:0px;
      margin:0px;
      float:right;

        a{
        color:$standartBtnColor;
        text-decoration: none;
        height: 48px;
        line-height: 48px;
        margin: 0px 15px;
        font-weight: 500;
        font-size: 16px;
        }
      
  }
  .signup-free{
      @extend .standart-btn;
      float: right;
  }
  .sign-in-btn{
      float: right;
      color:$standartBtnColor;
      font-size: 16px;
      font-family: 'Roboto';
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      margin: 0px 15px;
      text-decoration: none;
  }
}

.langselect{
    select{
      width:50px;
      float: right;
      margin-left:10px;
    }
  }
  .login-btn{
    float: right;
  }
  .dropdown{
    float: right;
  }
}

.red-border{
    border:1px solid red;
    &:focus{
        border:1px solid red;
        box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
    }
}
.green-border{
    border:1px solid green;
    &:focus{
        border:1px solid green;
        box-shadow: 0 0 0 0.25rem rgb(0 255 8 / 25%);
    }
}
.form-section{
    background-color: $whiteColor;
    padding: 30px;
    @include borderRadius(5px);
    @include boxShadow();
   
}
.danger-message{
    color:red;
    margin:5px 0px;
    font-size:12px;
}


.homepage{
  margin-top:168px;
  position: relative;
  height: calc(100vh - 168px);
  z-index: 12;
  .homepage-title{
      h1{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 900;
          font-size: 62px;
          /* or 62px */
          
          text-align: center;
          color:$blackColor;
          margin-bottom:28px;
      }
      p{
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 112%;
          /* or 25px */
          
          text-align: center;
          
          color: $weightGreyColor;
          margin-bottom:56px;
      }
  }
}


.bg-half-grey{
 background:$greyColor;
 height: 55%;
 width:100%;
 position: absolute;
 bottom:0px;
 z-index: -1;
 left: 0;
}


.modal-content{
  @include borderRadius(25px);
}


footer{
    background-color: rgb(0 17 41);
    position: absolute;
    bottom:0px;
    width: 100%;
    padding:50px 0px;
    text-align: center;
    .menu{
        ul{
            margin:0px;
            a{
                color:#fff ;
                margin:15px;
                text-decoration:none;
            }
        }

    }
    p{
        color:#888 ;
        font-size:11px;
        text-align: center;
        margin-top:15px;
    }
}
@media only screen and(max-device-width:1280px){
  .standart-hr{
      margin:15px 0px;
  }
  .any-questions{
      margin-top: 15px;
  }
}